.container {
  height: 50vh;
  width: 100%;
  /* background-color: yellow; */
}
#midrow {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* FLASH CARD STYLING */

.container .button-container {
  text-align: center;
  /*   margin-top: 10px;   */
}

.container .button-container button {
  font-size: 15px;
}

.container .button-container i {
  font-size: 25px;
}

.button-container button {
  padding: 10px 15px;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  color: black;
}

.button-container {
  display: block;
  background: #dbdbdb;
}

.container button:hover {
  /* cursor: pointer; */
}

.container button:focus {
  outline: 0;
}

.container button.button-active {
  /* 	background-color: gray; */
  /* 	color: #374D57; */
}

.flag {
  position: absolute;
  top: -17px;
  right: -12px;
  border-radius: 51%;
  border: 1px solid #444;
  width: 3rem;
  height: 3rem;
  z-index: 100;
  font-size: 0.5em;
  color: white;
  display: grid;
  place-items: center;
  background-color: white;
  cursor: pointer;
}

.flag:focus {
  outline: 0;
}

/* entire container, keeps perspective */

.container .flip-container {
  margin: 0 auto;
  -webkit-perspective: 1000;
  perspective: 1000;
  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/* flip the pane  */
.container .flip-container.flipped .flipper,
.container .flip-container.flipped .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.container .flip-container,
.front,
.back {
  width: 400px;
  height: 450px;
  max-height: 450px;
  /* min-width: 200px;
  min-height: 250px; */
  border-radius: 7px;
  box-sizing: border-box;
}

.test {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.front,
.back {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  text-align: center;
  font-family: "Arvo";
  font-size: 2.4em;
  line-height: 1em;
  /* padding-top: calc(50% - 3em); */
  color: #333;
  /* 	border: 1px solid #95A39D; */
}

/* flip speed goes here */
.flipper {
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  transition: 0.3s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px 10px rgba(163, 163, 163, 0.4);
  cursor: pointer;
}
.front-card-btn {
  display: flex;
  justify-content: space-around;
  /* gap: 3rem; */
  /* justify-content: center; */
  margin: auto;
  margin: 0.5rem 0 1rem 0;
}
.front-card-btn > * {
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 45px;
  min-width: 130px;
  min-height: 38px;
  border: none;
  color: #fff;
  background-color: #80a8d2;
  transition: background-color 0.17s ease, color 0.17s ease;
}
.front-card-btn > *:first-child {
  background-color: #fef4f6;
  border: 2px solid #80a8d2;
  color: #80a8d2;
}
.cardFront,
.cardBack {
  height: 78%;
  padding: 1rem;
  max-height: 400px;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}
/* front pane, placed above back */
.front {
  /* z-index: 2;
  /* for firefox 31 */
  /* -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);  */
  background-color: #f4f4f4;
  /* display: grid;
  grid-template-rows: repeat(7, 1fr); */
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
  background-color: #f4f4f4;
}

.container .refresh {
  border: 0;
}

.container .refresh:hover {
  border: 0;
  background-color: transparent;
}
