body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ebf2f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 99999 !important
  ;
}

.container {
  /* background-color: yellow !important; */
  height: 100%;
  width: 100%;
  z-index: 99999 !important;
  position: relative;
}

/* Form */
input,
textarea {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-image: none;
  background-color: #fdfcfa;
  box-shadow: none;
  padding: 5px;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

textarea {
  min-height: 50px;
  resize: vertical;
}

.feedback-body__submit {
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  padding: 8px 8px !important;
  margin-top: 4rem !important;
  background-color: #80a8d2;
  color: white;
}

.feedback-card {
  border: 1px solid black;
  max-width: 980px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);
}
.feedback-header {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid black;
}
.feedback-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.feedback-body__message {
  margin-top: 10px;
}
.feedback-body button {
  margin-top: 10px;
  align-self: flex-end;
}

.qna {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.qna textarea {
  margin-top: -0.5rem;
}

.cancelIcon img {
  width: 15px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
