body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ebf2f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 99999 !important;
}

.container {
  height: 100%;
  width: 100%;
  z-index: 99999 !important;
  position: relative;
  outline: none;
  border: none;
}

/* Form */
input,
textarea {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-image: none;
  background-color: #fdfcfa;
  box-shadow: none;
  padding: 5px;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

textarea {
  min-height: 50px;
  resize: vertical;
}

.feedback-body__submit {
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  padding: 8px 8px !important;
  margin-top: 4rem !important;
  background-color: #80a8d2;
  color: white;
  border-width: 0;
  border-radius: 5px;
}

.feedback-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.feedback-body__message {
  margin-top: 10px;
}
.feedback-body button {
  margin-top: 10px;
  align-self: flex-end;
}

.qna {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.qna textarea {
  margin-top: -0.5rem;
}

.cancelIcon img {
  width: 15px;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
